<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('header') %>
  <main>
    <h2>Товар добавлен</h2>
    <p>Название: <%= name %></p>
    <p>Цена: <%= price %></p>
    <p>Описание: <%= description %></p>
  </main>
  <%- include('footer') %>
</body>
</html>
